src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
  xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
  xmlns:spring="http://www.springframework.org/schema/beans" 
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:file="http://www.mulesoft.org/schema/mule/file"
  xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

  <flow name="AuctionService" >
    <file:inbound-endpoint path="auction" doc:name="Read File auction" />
    <object-to-string-transformer doc:name="Object to String"/>
    <logger level="INFO" message="Consumed message: #[payload]" doc:name="Log Payload"/>
    <logger level="INFO" message="At time: #[function:now]" doc:name="Log TimeStamp"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="cfea96e1-527a-4db9-ac89-17ba4922b073">
            <dw:input-payload mimeType="application/java"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload splitBy "\n"
]]></dw:set-payload>
        </dw:transform-message>
        <collection-splitter doc:name="Collection Splitter"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="process" doc:name="VM"/>
    <!-- vm endpoint responsible for pushing result back to test -->
  </flow>
    <flow name="processBids">
        <vm:inbound-endpoint exchange-pattern="one-way" path="process" doc:name="VM"/>
        <logger message="Start At time: #[function:now] , processing Bidder: #[payload]" level="INFO" doc:name="Logger"/>
        <component class="com.mulesoft.EnricherAuctionComponent" doc:name="EnrichBids Java Component"/>
        <collection-aggregator failOnTimeout="true" doc:name="Collection Aggregator"/>
        <component class="com.mulesoft.HighestBidderAuctionComponent" doc:name="Highest Bidder Java Component"/> 
        <logger message="Highest Bidder: #[payload]  , End At time: #[function:now]" level="INFO" doc:name="Log Payload"/>
        <logger  level="INFO" doc:name="Log TimeStamp"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="auction.service" doc:name="VM: auction.service"/>
    </flow>

</mule>
